= convert_to_markdown(Content.description_for('The Kordt Co.', 'Top Text'))
- [ 'Picture 1', 'Picture 2', 'Picture 3' ].each do |picture|
	= image_tag Content.description_for('The Kordt Co.', picture), size: '282x282', class: 'home_page_photo'
= convert_to_markdown(Content.description_for('The Kordt Co.', 'Bottom Text'))