%h1 Today, more people than ever are being tasked to create a video for their company or organization.  Where do you start? Ask Kordt.
= image_tag 'http://www.sxc.hu/pic/m/t/tp/tpacific/644739_studio_light.jpg', size: '282x282', class: 'home_page_photo'
= image_tag 'http://www.sxc.hu/pic/m/l/le/leosynapse/381410_news_camera.jpg', size: '282x282', class: 'home_page_photo'
= image_tag 'http://www.sxc.hu/pic/m/g/ge/geryy/507477_photo_film.jpg', size: '282x282', class: 'home_page_photo'
%p Whether you’re creating your first video or you’ve created hundreds, your video will shine according to how well you plan it.  That’s where scripting comes in.
%p Do you want your video to be charming and engaging? Witty and thought-provoking? Exciting and music-driven? Hard-hitting and compelling? Whatever style you’re after, I can help you achieve it.
%p And what about your video’s content? Will it be voice-over driven? Will there be interviews? Charts and graphs? Animation and graphics? I can help make sure that your content is presented in the most understandable and interesting ways.
%p Is your subject technical? I’ve written videos on everything from insects that plague cotton farmers to emerging financial markets, from the technical highlights of new equipment to marketing and merchandising techniques for store employees.