= convert_to_markdown(Content.description_for('Musician', 'Heading'))
%ul.content
	- @tracks.each do |track|
		%li
			= render 'tracks/track', track: track, show_description: false, show_admin_links: false