<!DOCTYPE html>
<html>
	<body>
		<p>You have a message from:</p>
		<p>Name: <%= @inquiry.name %></p>
		<p>E-mail: <%= @inquiry.email %></p>
		<p>Message:</p>
		<p><%= @inquiry.message %></p>
	</body>
</html>