%ul
	- @blog_posts.each do |blog_post|
		%li
			%h2
				= link_to blog_post.title, blog_post_url(blog_post)
				- if blog_post.display == false
					%span.draft DRAFT
			= convert_to_markdown(blog_post.content)
			%p.date
				Written on 
				= blog_post.updated_at.strftime('%B %e, %Y')
		%hr