%h1 
	Manage Blog Posts
	= link_to '+ Blog Post', new_blog_post_url, class: 'btn'
%ul
	- @blog_posts.each do |blog_post|
		%li
			= render 'blog_posts/blog_post', blog_post: blog_post, show_admin_links: true