= render 'blog_posts/blog_post', blog_post: @blog_post, show_admin_links: false
= render 'comments/comments', item_comments: @blog_post.comments.approved, new_comment_url: blog_post_comments_url(blog_post_id: @blog_post.id)