<!DOCTYPE html>
<html>
	<body>
		<% if @comment.commentable_type == 'Video' %>
			<% item_name = 'video' %>
			<% item = Video.find(@comment.commentable_id) %>
		<% elsif @comment.commentable_type == 'BlogPost' %>
			<% item_name = 'blog post' %>
			<% item = BlogPost.find(@comment.commentable_id) %>
		<% end %>
		<p><%= @comment.name %> submitted a comment for your <%= item_name %>, <%= item.title %>.</p>
		<p>Comment:</p>
		<p><%= @comment.message %></p>
		<p>
			To approve or delete this comment, <a href='http://thekordtco.herokuapp.com/sign_in'>sign in</a>
			and visit <a href='http://thekordtco.herokuapp.com/manage_comments'>Comments</a>.
		</p>
	</body>
</html>