.form_instructions
	%h2 Instructions
	%p Sharing with SoundCloud is a little different.
	%p 
		In order to get the right hyperlink in SoundCloud, click 'Share'. Then, 
		copy and paste the 'Embed Code'. Make sure the 'Use the HTML5 widget' option 
		is checked to ensure the best display.
	= image_tag('soundcloud.png', size: '398x260', class: 'soundcloud')
	%p An example of the 'Embed Code' is:
	%p= "<iframe width='100%' height='166' scrolling='no' frameborder='no' src='http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks %2F38807074&show_artwork=true'></iframe>"