$black:#333;
$darkblue:#003D7A;
$blue:#006EDB;
$orange:darkorange;
$blue4:#00DFFC;
body {
	width:960px;
	margin:20px auto;
	font-family:'Carrois Gothic',arial,sans-serif;
}
body a {
	text-decoration:none;
}
.container {
	background:#F9FAFA;
	min-height:915px;
	box-shadow:0px 0px 50px grey;
	border:1px solid grey;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
nav {
	padding:20px;
	font-size:30px;
}
nav ul.pull_left {
	float:left;
}
nav ul.pull_right {
	float:right;
}
nav ul.pull_right li {
	padding-left:20px;
	font-size:22px;
}
nav ul.pull_right li {
	float:left;
}
nav ul li a {
	color:$blue;
}
nav ul li a:hover {
	color:$orange;
}
nav.admin {
	border-top:1px solid darkblue;
	border-bottom:1px solid darkblue;
	position:relative;
	margin-top:15px;
	background:$blue;
box-shadow: 0px 3px 1px lightgrey;
}
nav.admin {
	color:white;
	text-shadow:0px 0px 5px black;
}
nav.admin a {
	color:white;
	text-shadow:0px 0px 5px black;
}
nav.admin ul {
	position:relative;
	bottom:7px;
}
nav.admin ul li {
	font-size:18px;
}
nav.admin ul.pull_left {
	float:left;
}
nav.admin ul.pull_left li {
	padding-left:0px;
	margin:0px;
}
nav.admin ul.pull_right {
	float:right;
}
nav.admin ul.pull_right li {
	padding-left:20px;
}
.flash {
	padding:10px 10px;
	margin:25px 20px -10px 20px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.flash.flash-error {
	border:1px solid red;
	background:pink;
}
.flash.flash-success {
	border:1px solid green;
	background:lightgreen;
}
.flash.flash-notice {
	border:1px solid gold;
	background:lemonchiffon;
}
.content {
	padding:20px;
}
h1, h2, p, input, label, textarea {
	color:#333;
}
h1 {
	font-size:25px;
	padding:10px 0px 20px;
}
h1 a, h2 a, p a {
	color:$blue;
}
h1 a:hover, h2 a:hover, p a:hover {
	color:$orange;
}
h2 {
	font-size:22px;
	padding:10px 0px 0px;
	line-height:32px;
}
h1 a.btn, h2 a.btn {
	float:right;
	font-size:16px;
	border:1px solid $darkblue;
	background:$blue;
	color:white;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-shadow:0px 0px 5px black;
	box-shadow:0px 0px 2px black;
}
h1 a.btn {
	padding:5px 5px;
}
h2 a.btn {
	padding:0px 5px;
}
h1 a.btn:hover, h2 a.btn:hover {
	background:$darkblue;
	box-shadow:0px 0px 3px black inset;
}
hr {
	border:1px solid lightgrey;
}
p {
	font-size:16px;
	line-height:26px;
	padding:10px 0px;
}
p.date {
	font-weight:bold;
	color:grey;
}
p.edit_heading {
	position:relative;
	bottom:20px;
}
iframe {
	margin:10px 0px 20px;
}
form label, input, textarea {
	display:block;
	margin:8px 0px;
	font-family:'Carrois Gothic';
	font-size:16px;
}
form input, textarea {
	padding:3px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid grey;
	box-shadow:1px 1px 2px grey;
}
form input.inline {
	margin-left:10px;
}
form input.inline, label.inline {
	display:inline;
}
form input.btn {
	margin-top:10px;
	padding:10px;
	border:1px solid $darkblue;
	background:$blue;
	color:white;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-shadow:0px 0px 5px black;
	box-shadow:0px 0px 2px black;
}
form input.btn:hover {
	background:$darkblue;
	box-shadow:0px 0px 3px black inset;
}
.form_error {
	padding:10px 10px;
	border:1px solid red;
	background:pink;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.form_error ul {
	padding-left:20px;
	list-style-type:circle;
}
.content_form {
	float:left;
	width:490px;
}
.content_form p {
	padding:5px 0px;
}
.content_form form input {
	width:450px;
}
.content_form form textarea {
	width:446px;
}
.content_form input.btn {
	width:auto;
}
.content_form input.inline {
	width:auto;
}
.markdown_instructions {
	float:left;
	border:1px solid grey;
	padding:10px;
	width:400px;
	height:690px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:white;
	box-shadow:0px 0px 2px black;
}
.markdown_instructions p {
	font-size:16px;
	padding:5px 0px;
}
.markdown_instructions h1, h2 {
	padding:3px 0px;
}
ul.content {
	margin-left:-20px;
	padding-top:0px;
}
ul.content li p {
	padding:0px 0px;
}
ul.content h1.category {
	color:$blue;
}
iframe {
	box-shadow:1px 1px 4px black;
}
div.video_scroll {
	width: 920px;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}
div.video_scroll span.video_frame {
 	display: inline-block;
}
div.video_scroll span.video_frame iframe {
	margin:10px 10px 0px 3px;
}
div.video_scroll span.video_frame p {
	text-align:center;
	margin:0px 0px 7px;
}
span.draft {
	color:red;
	border:2px dashed red;
	padding:5px 5px 3px;
	font-weight:bold;
	font-size:12px;
	margin-left:5px;
}
h1 span.draft {
	position:absolute;
}
h2 span.draft {
	position:relative;
	bottom:3px;
}
footer {
	padding:20px 0px 0px;
}
img.home_page_photo {
	box-shadow:1px 1px 4px black;
	margin:0px 10px;
}
.hire_form {
	float:left;
	width:500px;
}
.hire_form form input, textarea {
	width:480px;
}
.hire_form form input.btn {
	width:auto;
}
.contact_info {
	float:left;
	margin-left:20px;
	width:350px;
	padding:20px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid grey;
	box-shadow:1px 1px 2px grey;
	background:white;
}
.contact_info p {
	padding:0px;
}
.contact_info img {
	position:relative;
	top:9px;
	padding-right:10px;
}